.bx-request {
    display: flex;
    flex-direction: column;
    width: 77%;
    height: 100%;
    background-color: #F6F7FB;
    position: fixed;
    padding: 25px;
    padding-left: 40px;
    padding-right: 40px;
    top: 20px;
    right: 20px;
    border-radius: 35px;
}

.bx-request2 {
    width: 100%;
    height: 172px;
    background-color: #F2E5F2;
    border-radius: 35px;
    position: fixed;
    bottom: 0;
}

.req {
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: #41406E;
    padding-bottom: 10px;
}

.satu {
    display: flex;
}

.dua {
    display: flex;
}