.cover {
    width: 100vw;
    height: 100vh;
}

.sidebar {
    width: 300px;
    height: 100%;
    background-color: #b3b3b3;
    position: absolute;
}

.cover-content {
    background-color: #F6F7FB;
    width: 500px;
    height: 100%;
}