.ovr-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #41406E;
    padding: 20px;
    padding-left: 80px;
    padding-right: 90px;
    position: fixed;
    top: 150px;
    left: 40px;
}

.ovr-text:hover {
    background-color: #E7BDD3;
    color: #41406E;
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s, transform 0.3s ease;
}

.att-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #41406E;
    text-decoration: none;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
    position: fixed;
    top: 230px;
    left: 40px;
}

.att-text:hover {
    background-color: #E7BDD3;
    color: #41406E;
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s, transform 0.3s ease;
}

.lv-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #41406E;
    text-decoration: none;
    padding: 20px;
    padding-left: 80px;
    padding-right: 110px;
    position: fixed;
    top: 310px;
    left: 40px;
}

.lv-text:hover {
    background-color: #E7BDD3;
    color: #41406E;
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s, transform 0.3s ease;
}

.plane {
    font-size: 35px;
    color: #585AB2;
    position: fixed;
    top: 310px;
    left: 60px;
    z-index: 1;
}

.user {
    font-size: 35px;
    color: #D3B6B9;
    position: fixed;
    top: 230px;
    left: 60px;
    z-index: 1;
}

.square-1 {
    font-size: 15px;
    color: #585AB2;
    position: fixed;
    top: 165px;
    left: 65px;
    z-index: 1;
}

.square-2 {
    font-size: 15px;
    color: #585AB2;
    position: fixed;
    top: 180px;
    left: 65px;
    z-index: 1;
}

.square-3 {
    font-size: 15px;
    color: #585AB2;
    position: fixed;
    top: 165px;
    left: 80px;
    z-index: 1;
}

.square-4 {
    font-size: 15px;
    color: #585AB2;
    position: fixed;
    top: 180px;
    left: 80px;
    z-index: 1;
}